<!--About page-->
{% extends "layout.html" %}
{% block content %}

<div class="about">
    <h1>Halaman ini akan memberi tahu Anda cara kerja penguji kekuatan kata sandi dan apa manfaatnya!</h1>
    <p>Penguji kekuatan kata sandi mengambil kode sandi apa pun yang ingin Anda gunakan dan memberikan skor seberapa aman itu!</p>
    <p>Penguji ini berguna untuk membuat kata sandi aman yang sulit diretas dan diperoleh. Menjaga kata sandi yang aman akan memastikan informasi pribadi Anda aman di internet.</p>
    <p>Skor di atas 75% adalah kata sandi yang bagus dan cukup aman untuk melindungi akun Anda.</p>
    <p>Skor di bawah 75% bukanlah kata sandi yang cukup aman dan akan membutuhkan lebih banyak karakter atau angka khusus untuk membuatnya aman.</p>
    <p>Setelah kata sandi ideal Anda dinyatakan aman, salin dan tempel kata sandi di tempat yang aman untuk menyimpan salinan kode sandi.</p>
</div>

{% endblock %}